body{
	background-image: url(http://fc05.deviantart.net/fs71/i/2011/126/2/0/minimal_grey_by_djeric-d3fqdrb.jpg);
	font-family: Verdana;
}

.div{
	display: block;
	width: 420px;
	height: 220px;
    border: 5px solid grey;
    border-radius: 5%;
    margin: 200px auto;
    background-image: url( http://i293.photobucket.com/albums/mm55/3LiteCh0mp/lightgreybackground.jpg);
	text-align: center;
    
}

.title{
	color:grey;
	font-style: italic;
	display: block
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
	border-bottom-style: solid;
	font-size : 17px;
	text-align: left;
	padding : 5px;	
}


.myTable{
	text-align: center;
	padding: 7px;
	margin-left: 65px;
	margin-bottom: 5px;
}

input {
	border-radius: 5%;
	margin: 5px;
	padding: 3px;
	width: 200px;
}

.butons{
	border-radius: 15%;
	width: 131px;
	padding: 7px;
    background: E3E2D6;
    margin-left: 25px;
    margin-right: 35px;
    color: 1D4948;
    font-size: 14px;  
    font-weight:bold; 
}

.wrong{
	color: red;
	font-style: italic;
	font-size: 15px;
	
}