body{
	background-image: url('images/background.jpg');
	font-family: Verdana;
}

.div{
	display: block;
	width: 505px;
	height: 315px;
    border: 5px solid grey;
    border-radius: 5%;
    margin: 200px auto;
     background-image: url('images/back.jpg');
	text-align: center;
    
}

.title{
	color:grey;
	font-style: italic;
	display: block
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
	border-bottom-style: solid;
	font-size : 17px;
	text-align: left;
	padding : 5px;	
}

.myTable{
	text-align: center;
	padding: 7px;
	margin-left: 50px;
	margin-bottom:10px;
}

input {
	border-radius: 5%;
	margin: 5px;
	padding: 3px;
	width: 200px;
}

.butons{
	border-radius: 15%;
	width: 130px;
	padding: 7px;
    background: E3E2D6;
    margin-left: 40px;
    margin-right: 40px;
    color: 1D4948;
    font-size: 14px;  
    font-weight:bold; 
}
.wrong{
	color: red;
	font-style: italic;
	font-size: 15px;
	
}

